
.main{
    border: 2px solid red;
    display: flex;
    justify-content:space-between;
    height: 75px;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 2px;
}
.logo img{
    width: 200px;
    height: 75px;
    padding-left: 15px;

}
.Netflix logo p{
    width: 200px;
    padding-left: 20px;
}
.logo{
    display: flex;
    align-items: center;
    list-style: none;
    width: 800px;
}
.logo ul {
display: flex;
list-style: none;
}
.logo ul li{
    justify-content: center;
    width: 80px;
}
.logo ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.menu{
    padding-left: 180px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
    justify-content: space-evenly;
    width: 200pxx;
}